
.logocontainer{
    color: white;
}
.banner-img{
    margin-top: -22px;
}
.titulo-parte-abajo{
    font-size: 2em;
    text-align: center;
    font-family: 'Lemon', cursive;
    margin-bottom: 25px;
    margin-top: 15px;
    text-decoration:underline
}
.colum--50{
    width: 100%;/*esto no lo pongo en weight 100% por que el 50$ esta en el 480px osea se activa cuando la patanlla se agranda*/
}
.informacion_de_contacto{
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
}
.texto-parte-abajo{
    font-size: 1.1em;
    margin-left: 6px;
}
.text{
    font-size: 1.1em;
    margin-left: 6px;
    margin-bottom: 22px;
}
.text [class*="icon-"]:before{
    margin-right: 5px;
}
.iconos-redes_sociales2{
    margin-bottom: 10px;
    display: flex;/*NOTA el display flex se lo aplico siempre al contenedor que me contiene los elementos que quiero acomodar no a la clase sino al div que me contiene. me acomoda en horizontal y uno al lado del otro si quiero que tengan separacion les tengo que poner o un margen left o right directamente al elemento por que al contenedor me los separaria pero con respecto a los de la punta onda en masa o sino le pongo un space betwen al contenedor.*/
    justify-content: center;/*como estoy usando display flex se me habilita esto y con esto pongo los iconos en el centro de la pantalla hasta ahora veo que sirve para acomodar iconos capas que tambien imagenes, el texto va con text aling center*/
}    
    .info-contac{
    padding-bottom: 10px;
    border-bottom: 1px solid black;/*aca le puse un borde a la parte de abajo*/
    margin-bottom: 30px;    
}
.iconos-redes_sociales2 [class*="icon-"]{
    font-size: 1.3em;
    border-radius: 50%;
    color: white;
    background: black;
    height: 30px;
    width: 30px;
    align-items: center;/*me acomoda los iconos en relacion arriba bajo en el centro*/
    justify-content: center;
    margin-left: 33px;
    display: flex; /*si quiero que el height, widht y justify content me funcionen e los iconos como en este caso tengo que poner si o si display flex, pero tambien se lo tengo que poner al contenedor que me los contiene como arriba por que sino me los pone uno abajo del otro*/
    
    
}
.iconos-redes_sociales-link2{
    text-decoration: none;
}
.formulario-input-text, .formulario-label, .formulario-textarea{
    display: block;/*hasta ahora vi que se usa con imagenes y en el formulario y aca me sirve para poner uno abajo del otro, por que antes estaban uno al lado del otro*/
    width: 100%;/*con esto hago que el espacio de escritura ocupe el maximo en ancho, el tex area me ocupa todo por que tiene gran cantidad de cararcteres para poner y tengo que usar las 3 clases a la ves*/
}
.formulario-input-text{
    padding: 10px;
    margin-bottom: 10px;
}
.formulario-textarea{
    min-height: 100px;
    max-height: 200px;
    min-width: 100%;
    max-width: 100%;
}
 .formulario-btn{
    cursor: pointer;
    border: none;
    font-size: 1em;
}
.menu-link:hover{
    background: #532F04;
}
.menu-link-inicio{
    background: #532F04;
}
.btn{
    background: #532F04;
}
@media screen and (min-width:480px){
    .datos_telefono-ubicacion_telefono{
        background: none;
         }
}
@media screen and (min-width:768px){
    
    .container{
        width: 100%;
    }
    .info-contac{
        border-bottom: none;
    }
}
@media screen and (min-width:1024px){
   
    .info-contac{
        font-size: 1.1em;
        padding-right: 48px;
        border-right: 1px solid black;
        
    }
    .titulo-parte-abajo{
        margin-top: 100px;
        font-size: 2.5em;
        margin-bottom: 34px;
    }
    .formulario{
        padding-left: 12px;
        font-size: 1.3em;
    }
    .formulario-btn{
        font-size: 0.8em;
    }
    .iconos-redes_sociales2 [class*="icon-"]{
        font-size: 1.8em;
        height: 50px;
        width: 50px;
    }
    .pie_pagina{
        margin-top: 24px;
    }
}



    /*    efecto que aparesca /*/

.scrollContacto{
    opacity: 0;
    transition: all 1s ease-in;

}
        

        
    
    
