@font-face{
    font-family:"Lemon";
    src: url(../letras/Lemon-regular.ttf);
    }
@font-face{
    font-family:"Happy Monkey";/*aca pongo las letras antes para hacerlo virtual tengo que pegar el link de la pagina*/
    src: url(../letras/HappyMonkey-regular.ttf);
    }
/*ME PASO QUE QUERIA CAMBIAR EL TAMAÑO DE LETRA Y MARGEN AL TITULO NUESTRO EQUIPO EN NOSOTROS Y NO HACIA NADA PERO ERA POR QUE YO EN TAMAÑO MEDIAQUIERIES DE 1080 LE HABIA MODIFICADO ESOS DOS Y YO SE LO QUERIA APLICAR EN TAMAÑO CEL OSEA NO HACIA NADA POR QUE YO LO QUE PONIA ME LO PISABA DESPUES LA MODIFICACION PARA PANTALLA GRANDE Y YO TENIA APLICADA ESA PANTALLA, SI TENIA LA DEL CEL SI IVA A VER LOS CAMBIOS 
/*LE PONGO DISPLAY BLOCK PARA LABURAR A LAS IMAGENES BOTONES E ICONOS
/*EL POSITON RELATIVE ES COMO QUE LO PONGO EN EL ELEMENTO BASE EL PRIMERO EJ LO DEL MENU, DESPUES LE VOY AGREGANDO ELEMENTOS QUE VAN A ESTAR O INTERACTUAR ARRIBA DE ESO LE TENGO QUE PONER POSITION ABSOLUTE*/
/*EL DISPLAY FLEX COMO QUE ACTUA SOBRE CONTENEDORES PARA MODIFICARLOS TODOS LOS ELEMENTOS OSEA SU POSISIONAMENTO DENTRO DE ESTE CONTENEDOR Y EL TOP, LEF TRANSFORM X,Y ES PARA POSICIONAR UN ELEMNTO SOLO DENTRO DE UN CONTENDOR 
*/
/*POR LO QUE VEO PARA POSCIONAR ELEMENTOS, DENTRO DE UN DIV Y NO COLUMNAS QUE LO HAGO CON FLEX BOX, USO CUANDO TIENE POSITION RELATIVE Y ABSOLUTE TOP, LEFT Y RIGHT SINO JUEGO CON LA PROPIEDAD MARGIN EJ 44PX(ARRIBA ABAJO) 33PX O AUTO PARA QUE ESTE EN EL CENTRO (DE LOS COSTADOS)*/
/* column siempre que haga una columna con un div que adentro esa columna tenga ej una imagen y un titulo, a la clase .column arriba de todo le tengo que poner width 100% en la parte de la vista celu asi se ve en una sola como el footer o en caso de no ocupar toda el ancho se vean dos como arriba  estas son las que al lado tienen el column-50 etc.. Lo MISMO TENGO QUE HACER EN ESTILOS BASES CON .CONTAINER .MAIN-HEADER Y .MAIN-NAV, OSEA SI SE LO SACO NO PASA NADA PERO POR LAS DUDAS LO PONGO*/
/*ENTONSES PARA DARLE LA VISTA FINAL A LAS COLUMNAS EJ QUE SE VEA EN DOS COLUMNAS EL CONTENIDO DEL DIV O EN 4 LO QUE SEA, SEGUN EL TAMAÑO DE PANTALLA Y LA CANTIDAD DE COLUMNAS QUE HAYA USO LA CLASE COLUMN Y LE DOY WEIGHT 100,50 SEGUN EN CUANTAS COLUMNAS QUIERO QUE SE ME VEA EL CONTENIDO DEL DIV*/
*{
    box-sizing: border-box;/*esto se lo pongo siempre a todo*/
}

body{/*a todo le pongo la letra hapy y margen 0 osea a la derecha del sitio y a la izq no le va a quedar espacio en blanco,ocupa todo*/
    font-family: 'Happy Monkey', cursive;
    margin: 0;
    
}
img{/*a las imagenes le pongo margen 0 las pongo que sean elementos en bloque y que el ancho sea el 100 del doc y el max sea 100 asi me ocupan todo el espacio del sitio, pasan de ser grandes a adaptarse al tamaño chico de pantalla*/
    display: block;
    width: 100%;
    max-height: 100%;
}
h1,h2,h3,h4,h5,h6{/*los titulos no tienen margenes ni arriba y abajo solo un poco*/
    margin: 0;
}
.container{
    width: 100%;
    margin: auto;
}
.container--flex{ 
    display: flex;/*con esto activo propiedades flexbox (flexibilidad de contenedor) por lo que veo la utilizo cuando tengo el espacio horizontal dividido en columnas ya sean de 50,25,33  y me sirve para el posicionamiento del contenido que esta dentro del div contenedor en el espacio del sitio, osea su distribucion, si se lo aplico solo me queda ej en los especiales del mes todas las imagenes en chiquita una alado de la otra ocupando todo el tamño del sitio en horizontal, por eso le pongo la siguiente propiedad,*/
    flex-wrap: wrap;/*con esta propiedad utilizada para el diseño responsivo,ya que se adaptan al tamaño de la pantalla, las imagenes siguen con su tamaño que le di en img osea que me ocupen el 100% del espacio del sitio y si sobraria contenido en el mismo div me lo mandaria para abajo sin modificar el tamño,el flex solo me cambia las propiedades de tamaño ej, si me fijo el primer div que contiene el logo, y los datos, tengo el logo y al lado todavia tengo los datos por que el logo solo no ocupa todo el espacio horizontal del sitio.En el caso del footer el por que visitarnos ocupa todo el espacio horizontal y el contactanos y el seguinos en nuestras redes lo pone uno al lado del otro ocupando todo el espacio horizontal*/
    justify-content: space-between;/*esta propiedad es para alinear el contenido de las columnas del div y funciona como el de parrafo, lo puedo poner todo juntito en el centro, todo juntito comenzando desde la derecha, a la izquierda o como en este caso respetando la propiedad de margen 0 que aplique antes al body pero si o si deja espacios entre cada columna del contenido del div. pero en la parte del medio. esta me pone siempre el primer elemento al comienzo y el ultimo en el final*/   
    align-items: center;/* Me pone en el centro en relacion arriba, abajo el contenido de cada div o columna ej tengo en la barra de menu, el menu me lo ponia arriba de todo y con esto esta en el centro*/
}
.column{
    width: 100%;
}

/*-------------ESTILOS HEADER----------*/
.main-header{
width: 100%;
}
.columna--50{
    width: 50%;
}
.logocontainer{
    font-size: 1,8em;
    padding: 10px;
    color: white;
    font-weight: 90;
    font-family: 'Lemon', cursive;
    text-shadow: 2px 0 0 #000;
    z-index: 1500;
}

/*--------ESTILOS DEL NAV--------------*/

.main-nav{
    width: 100%;
    position: relative;/*para posicionar luego el menu con absolute*/
    z-index: 2000;/*propiedad para superponer en este caso el menu va estar superpuesto a la imagen banner*/
    padding: 10px;
}
.icon-menu{
    
    color: white;
    border: 1px solid white;
    border-radius: 3px;
    width: 40px;
    height: 40px;
    line-height: 45px;/* esta propiedad la uso para luego alinearlo en el centro con text aling center*/
    text-align: center;
    cursor: pointer;/*esto es para que cuando pase el maus por arriba se cambie a una manito*/
    font-size: 1,5em;
}
.iconos-redes_sociales{/*aca estoy laburando sobre el contenedor de iconos de redes sociales, no sobre los iconos especificamente*/
    display: flex;
    justify-content: space-between;
}
.iconos-redes_sociales [class*="icon-"] {/*aca si estoy laburando los iconos dentro del contenedor de iconos redes sociales*/
    color: black;
    margin-left: 10px;/*para que esten separados entre ellos un poquito*/
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1,3em;
    height: 35px;
    width: 35px;
    background: white;
    border-radius: 50%; 
    
}
.iconos-redes_sociales-link{
    text-decoration: none;/* Esto se lo aplico a los lik para que los iconos link no queden subrayados*/
}
.menu{
    position: absolute;/*lo pongo por que tiene un menu desplegable y con el top  left y text aling center maso menos lo posiciono donde va a estar ubicado cuando haga click en el icono del menu,*/
    top: 60px;
    left: 0;
    width: 100%;
    padding: 0;
    margin: 0;
    text-align: center;
    list-style: none;/*esto es para sacarle los iconitos quw tiene al lado los iconos de lista, osea con el margin y padding 0 ya salian, pero por las dudas se lo mando*/
    background: rgba(0,0,0,.85);
    overflow: hidden;
    height: 0;
    transition: height .3s linear; /* ver menu.js esto me aplica el efecto de animacion a la propiedad heighy, hace que se despliegue en 3 seg de formar linear*/
}
.main-nav{
    background:rgba(0,0,0,0.85);
}
.menu-link{/*se lo aplico a los link del menu, inicio, contacto,galeria, nosotros*/
    color: white;
    padding: 15px;
    display: block;/*sin el display block la propiedad de padding no me agrandaba nada quedaba igual*/
    text-decoration: none;
}
.menu-link:hover{/*para que cuando pase el cursor se me cambien de color*/
    background: #E00D43;
}
.menu-link-inicio{/*se lo pongo asi resaltado por que esta es la pagina de inicio*/
    background: #E00D43;
}
.mostrar{
    height: 196px; /* ver menu.js esto es la clase que cree con classList.toggle que se ejecuta al menu y que hace que se despliegue el contenido cuando aprieto el btn-menu*/
}
/*LO QUE HAGO CON TODO ESTO ES HACER EL MENU COMO SI YA ESTARIA DESPLEGADO, DESPUES LE PONGO LA FUNCIONALIDAD DE QUE SE ABRA Y SE CIERRE CON EL CLIK DEL ICONO DEL MENU*/


/*--------------BANNER-------------*/


.banner{
    margin-top: -175px;/*es para el margen superior del banner,osea en realidad empieza debajo de la barra de menu pero con esto puedo hacer que empieze mas arriba y uso los z idex para ir superponiendo*/
    position: relative;/*oir que le voy a ir agrengando elementos con posicion absoluta al banner  */
    
} 
.banner:before{/*esto es para hacer el fondo que oscurece al banner y el before y el content va si o si*/
    content: ' ' ;
    position: absolute;/*sin esto no se aplica nada y sin el relative del banner anterior no puedo poner este absolute y si pongo relative en ves de absolute tampoco se aplica*/
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.7);
    z-index: 1000;/*esto se tiene que ver detras del menu que tiene 2000 por eso le pongo 1000*/
    top: 0;
}
.banner-img{
    width: 100%;
    height: 600px;
    object-fit: cover;/*le cambio el largo a 500px y para que no me quede la imagen estirada, alargada, le pongo esa propiedad*/
}
.frase-banner{
    width: 90%;
    position: absolute;
    color: white;
    text-align: center;
    top: 50%;/*esto me lo situa en la mitad del banner*/
    left: 50%;
    z-index: 1500;/*esto me lo pone sobre el fondo oscuro del banner*/
    font-size: 1.8em;
    font-weight: bold;/*esto es para negrita*/
    transform: translateX(-50%) translateY(-50%);/*esto con el top de 50 y el left de 50 me situa la frase del banner exactamente en el medio del banner*/
}


/*--------------ESTILOS PRINCIPALES, PRESENTACION1-----------*/


.group-color .container{/*lo pongo asi y no directo la clase container, por que es el container que esta dentro de group-color*/
    background: #E00D43;
    color: white;
    padding: 10px;
    text-align: center;
    }
.presentacion-titulo{
    margin: 15px 0;
    font-family: 'Lemon', cursive;
    font-weight: 3;
    font-size: 1.8em;    
}
.presentacion2-titulo{
    font-size: 1.8em;
}
.presentacion2-contenedor_titulo_txt_btn{
    padding: 10px;
}
.btn{
    display: block;/*sin esto no lo puedo posicionar ni hacerle nada al boton*/
    text-align: center;
    text-decoration: none;
    background: #E00D43;
    width: 120PX;
    margin: 10px auto;
    padding: 10px;
    color: white;
}
.especiales_del_mes .column{/*lo puedo hacer asi con una clase distintiva, como puse en el div de la columna de helado 4, puse especial_del_mes1*/
    margin-bottom: 15px; /*para el margen inferior y solo el inferior*/
    text-align: center;
    
}
.especial_del_mes1-imagen{
    margin: auto;
    max-width: 350px;
    max-height: 400px;
}
.especial_del_mes1-precio{
    font-size: 1.5em;
    color: #E00D43;
    font-weight: bold;
}
.especial_del_mes1-nombre{
    font-size: 1.3em;
    padding-top: 10px;
    padding-bottom: 20px;
}
.titulo-especiales_del_mes{
    font-family: 'Lemon', cursive;
    font-size: 1.7em;
    font-weight: 100;
    margin: 30px;
    text-align: center;
}


/*------------ESTILOS FOOTER-------------*/


.pie_pagina{
    background: #222;
    color: white;
    padding: 10px;
    padding-bottom: 20px;
    padding-top: 20px;
    font-size: 0,5em;
}
.texto_de_abajo{
    margin: auto;
    margin-top: 15px;
    text-align: center
}
.pie_pagina [class*="icon-"]{
    color: white;
    text-decoration: none;
}
.pie_pagina [class*="icon-"]:before{
    position: relative;
    top: 3px;
    right: 5px;
}
h5,h6{
    font-size: 1em;
}

/*-------------ESTILO RESPONSIVE---------*/

@media screen and (min-width:480px)
{
    /*esto es para cambiar la medida osea aca laburo lo que ve se va a ver en 480 px para delante qe ya seria para ordenador*/

    .column--50{/*yo segun la cantidad de columnas en que divido como se en el html aclaro column--50 o la cantidad que sea, esto la vista de cel la puse  que se vea en una sola pero para esta parte que es la tamaño ordenador quiero que se vea en 2 por que es mas grande la pantalla, entonses pongo que el widht sea 50% o la cantidad que sea*/
        width:50%; 
    }
    .logo{
        color: white;
    }
    /*la otra parte de la columna--50 que forma parte del header la agrego a partir de esta medida por eso la laburo para que se vea desde esta medida y le pongo un z-index de 1600 por que sino me lo tapa la imagen del banner*/
    .datos-telefono-ubicacion{
        text-align: right;
        z-index: 1600;
    }
    .datos_telefono-ubicacion_telefono{
    color: white;
    padding: 10px;/*Es ancho del contenedor y se nota cuando le pones un fondo cmo en este caso*/
    margin: 0 auto;/*primero arriba y abajo y el auto para los costados*/
    }
    .datos_telefono_ubicacion_ubicacion{
    color:white;
    margin: 0;
    padding: 10px;
    }
    .main-header [class*="icon-"]:before {/*con esto hago referencia y puedo laburar a los iconos que estan dentro del heade y el before es para el posicionamiento para el position relative el top y el right*/
    position: relative;/*con esto los puedo posicionar libremente con las siguientes propiedades*/
    top: 2px;
    right: 5px;
    /*top es arriba y abajo y right a la izq, y esto lo aplique para separar un poco el icono del numero y la direccion para que no quede pegado*/
    }
    .presentacion-titulo{
         text-shadow: 2px 0 0 #000;
    }
    .banner{
       z-index: -1000;/*para que quede atras de todo sino el banner me tapa la ubicacion y el telefono*/
    }
    .datos_telefono_ubicacion_ubicacion{
        color: white;
    }
    /*
    .main-nav{
        ackground:rgba(0,0,0,0.85)/*esto es la barra en negro claro del menu y la clase esta en la etiqueta nav, lo desplegable osea inicio,contacto etc esta en en la clase menu de la etiqueta ul*/
    
    
    .frase-banner{
        font-size: 2em;
    }
    .column--33{
        width: 30%;
    }
    .column--50-25{
        width: 50%;
    }
    
    .presentacion2-contenedor_titulo_txt_btn{
        padding-left: 20px;/*con esto las puedo separar a las columnas entre si, asi cuando se achica me queda un espacio entre cada columna,igual es conveniente para que me quede onda space between cuando le pongo el porcentaje en el column height ponerle un poco menos ej a 50 le pongo 49 y asi */
        font-size: 1.em;
    }
    .presentacion2 .btn{
        margin: 0;/*con esto muevo el boton que antes estaba en el centro, a la izquierda osea no tiene margen uso siempre esto para posicionar elemtos que no tengan position relative o absolute */
    }
    .presentacion2-contenedor-img{
        padding-left: 10px;
        padding-bottom: 25px;
        padding-top: 15px;
    }
        
    .especiales_del_mes .column{
        padding: 10px
    }
    .especial_del_mes1-imagen{
        height: 350px;
        object-fit: cover;/*con esto dejo a las imagenes de especiales del mes todas alineadas*/
    }
    .pie_pagina .container--flex{
        align-items: flex-start;/*antes me quedaban las 3 columnas las dos ultimas mas abajo de la primera y con esto empiezan todas a la misma altura*/
    }
}
    
@media screen and (min-width:768px){/*a esta mas que nada le cambio el tamaño de texto*/
    .container{
        width: 100%;/*con esto hago que me quede con el siguiente efecto lo puse en imprerpant petsis*/
    }
    .frase-banner{
        font-size: 2.2em;
    }
    .presentacion-titulo{
        font-size: 1.9em;
    }
    .presentacion-texto{
        font-size: 1.1em;
    }
    .presentacion2-contenedor_titulo_txt_btn{
        font-size: 1.2em;
    }
    .presentacion2-txt{
        line-height: 2.4em;
    }
    .titulo-especiales_del_mes{
        font-size: 2.2em;
    }
    .especiales_del_mes .column{
        font-size: 1.3em;
    }
    .group-color .container{
        margin-top: 22px;
    }
}

@media screen and (min-width:1024px){
    
    .container{
        width: 100%;
    }
    .logo{
        padding: 0;    
    }
    .datos_telefono-ubicacion_telefono{
        font-size: 1.1em;
    }
    .datos_telefono_ubicacion_ubicacion{
        font-size: 1.1em;
    }
    .banner{
        margin-bottom: -70px;/*con esto lo que hago es QUITARLE MAGEN AL CONTENEDOR DE BANNER asi me queda la presentacion 1 un poco adentro del banner y me queda adentro por que el banner tiene z idex -1000 por ahi*/    
    }
    .banner-img{
        height: 780px;/*aca lo que hize fue que la imagen del banner me ocupe la primera pantalla y un poco mas asi la presentacion 1 me queda asi onda un poco adentro del banner, uso heigt con px para agrandar la imagen, con padding bottom no hace nada no es para imagenes y con el margen osea tampoco por que es para dejar un espacio en blanco de separacion*/  
    }
    .frase-banner{
        font-size: 2.5em;
    }
    .icon-menu{
        display: none
    }
    .menu{
        display: flex;/*con esto hago que pase de estar en vertical a horizontal*/
        position: static;/*con esto vuelve a la posicion original por que tenia un position absolute que habia sido para hacer el menu de la version mas chica de pantalla que lo tenia que mover onda al centro*/
        height: auto;
        width: auto;/*con estos dos ultimos lo ajusto para que entre justo en la barra de menu main-nav sino me queda arriba el menu y los iconos abajo */
    }
    .menu-link{
        padding: 16px; 
    }
    .column--33{
        width: 24%;
    }
    .presentacion-titulo{
        font-size: 2em;
    }            
    .group-color .container{
        padding-top: 20px;
        padding-bottom: 22px;
        margin-top: 22px;
    }
    .titulo-especiales_del_mes{
        font-size: 2.6em;
    }
    .group-color .container{
        font-size: 1.2em;
        width: 90%;
        margin-top: 80px;
        padding: 60px;
        border-radius: 170%;
    }
}
    
/*//////////////////////////////////EFECTOS INDEX //////////////////////////////*/

.scroll{
    opacity: 0;
    transition: all 1s ease-in;
}
.scroll2{
    opacity: 0;
    transition: all 1s ease-in;
}
 .AnimacionSegundoEfectoA{
    animation: AnimacionSegundoEfectoA 4s;
}

@keyframes AnimacionSegundoEfectoA {
    0%{
         transform: translateX(400px);
        
    }
    
    100%{
        transform: translateX(0);
    }
}

.AnimacionSegundoEfectoB{
    animation: AnimacionSegundoEfectoB 3s;
}

@keyframes AnimacionSegundoEfectoB {
    0%{
         transform: translateY(400px);
        
    }
    
    100%{
        transform: translateY(0);
    }
}

.scroll3{
    opacity: 0;
    transition: all 1s ease-in;
}

.AnimacionCuartoEfectoB{
    animation: AnimacionCuartoEfectoB 3s;
}

@keyframes AnimacionCuartoEfectoB {
    0%{
         transform: translatex(-400px);
        
    }
    
    100%{
        transform: translateX(0);
    }
}

.cocol{
    position: fixe
}