/*tengo que tener en cuenta que podria aver puesto las imagenes para todos los tamaños de pantalla con un max height y max widht en las imagenes altas y petisas asi se me hubiese ido acomodando a la pantalla dejando siempre el mismo espacio entre si, pero cuando quise hacerlo y poner la pantalla lo mas chico posible se me deformaba una imagen y me quedaba mucho espacio lo que queria decir que el tamaño cel se iva a ver mal y como es uno de los que mas se va a ver decidi poner tamaños y anchos fijos acordes a cada tamño de pantalla y cantidad de columnas*/

/* --------------GALERIA MODAL-------------------------*/
.modal{
    width: 100%;
    min-height: 100vh; /*aca uso la medida vh que significa viewport esto lo que me hace es que el elemento al que le pongo la propiedad me ocupe el 100% del alto de la pantalla, no el 100% del sitio solo de la pantalla osea elemento entero va a tener el alto de la pantalla y con esto hago que el div que contiene tanto la imagen como el fondo y el boton me ocupe el alto de la pantalla. esta propiedad es adaptable lo que quiere decir que va a ocupar el alto de la pantalla del tamaño que sea la pantalla en la que estes viendo el sitio, puede cer tanto un cel coomo ordenador*/
    background: rgb(0,0,0,0.9); /*aca hago el fondo color oscuro andetro de ese fondo esta la imagen en mas chica y el boton en la punta*/
    position: fixed; /*con esto lo que hago es que este contenedor que contiene el fondo echo aca, la imagen y el boton quede siempre en el centro por mas que haga scroll de pantalla*/
    top: 0;
    left: 0;/* estos dos me aseguran de que el modal entero este siempre en el centro de la pantalla por que si le pongo ej 400 top me va a funcionar el fixed pero el modal va a empezar cerca del borde inferior de la pantalla por lo que no se va a ver en un 100 jamas por que cuando hago scroll se mueve tambien para abajo y se ve siempre solo una parte del modal*/
    z-index: 10000; /* para que el modal me quede arriba de todo cuando se abra*/
    display: none;
}
.modal_open{
    display: block;
}

.contenedorBotonesAvanzarRetroceder{
    display: flex;  
    height: 100vh;
    justify-content: space-between;
    align-items: center;
}

.modal_content{
    display: flex;  /*este es el contenedor de la imagen del modal y lo utilizo para centrar la imagen utilizando display flex que me habilita las otras dos opciones, sino en la clase de la etiqueta de la imagen no funcionaria*/
    justify-content: space-between;
    align-items: center;
    height: 100vh; /* tengo que tener en cuenta de que el vh funciona de otra manera un poco diferente en los elementos en bloque como las imagenes, aca lo que me hace es que en combinacion con justify content y aling item es ponerme la imagen exactamente en el medio de la pantalla*/ 
}
.modal_img{
    width: 50%; /* esta es la clase de la imagen y la uso para darle el tamaño a la imagen y le pongo 50 lo que quiere decir que la imagen puesta anteriormente en el centro me va a ocupar el 50 del ancho de la pantalla*/
}
.modal_btn{
    position: absolute; /* con esto lo que hago es habilitar el posicionamiento libre el cual me permite usar el top y rihgt de abajo*/
    top: 10px;
    right: 10px;
    color: white;
    cursor: pointer;
    width: 50px;
    height: 50px;
    line-height: 50px; /* me establece la altura a la que va a estar el elemento es como que hay una linea que sirve de eje y me mueve el elemento solo arriba o abajo y me mueve solo el elemento en linea osea el texto la X sin el fondo ni nada. En este caso si no lo uso me queda igual pero si le pongo por ej 500 px la x me queda re abajo del fondo del contenedor  */
    background: #49C572;
    font-size: 2.5em;
    border-radius: 50%;
    text-align: center; /*me lo aliniea pero en base a este contenedor que es peke no es el del total de la pantalla*/
}
.avanzar{
    margin-right: 40px;
    text-align: center;
    z-index: 4466666666;
    color: white;
    cursor: pointer;
    width: 50px;
    height: 50px;
    line-height: 50px; 
    background: #49C572;
    font-size: 2.5em;
    border-radius: 50%;
    
}
.retroceder{
    margin-left: 40px;
    text-align: center;
    color: white;
    cursor: pointer;
    width: 50px;
    height: 50px;
    line-height: 50px; 
    background: #49C572;
    font-size: 2.5em;
    border-radius: 50%;
    
}
/*//////////////////////////////////////////////////////////////////*/


.menu-link:hover{
    background: #49C572;
}
.menu-link-inicio{
    background: #49C572;
}
.imagenalta{
    /*con estos dos lo que hago es poner el tamaño a las imagenes para que me quede una grande y una chiquita y me queden todas iguales asi queda parejo se lo pongo un poco mas chiquito de lo que se ve con la pantalla minimizada por que estoy teniendo en cuenta el tamaño de la pantalla de cel*/
   height: 283px;
   
}   

.imagenpetisa{
   height: 117px;
     
} 
.margenimagenes{
    padding: 8px;
    cursor: pointer;
    transition: all 0.5s; /*con esto hago que los efectos como lo es el efecto que le puse a las fotos abajo de que cuando paso el maus se agrandan, o como el menu desplegable, bueno con esto manejo el tiempo en el que quiero que se ejecute el efecto si quiero que se despliegue lento o rapido*/
}
.margenimagenes:hover{
    transform: scale(1.08); /* con esto le aplico a las imagenes el efecto de que cuando paso el mause por arriba se agrandan un poquito el numero es el tamaño al que quiero que se agrande */
}
.titulo-parte-abajo{
    font-size: 1.7em;
    
}

@media screen and (min-width:480px){
    .titulo-parte-abajo{
    font-size: 1.8em;
}
    .frase-banner{
        font-size: 2.4em
    }
    .imagenalta{
        height: 333px;
    }
    .imagenpetisa{
        height: 167px;
    }
}
@media screen and (min-width:768px){
    .columna--25{
        width: 25%;
    }
    .titulo-parte-abajo{
    font-size: 2.2em;
    margin-bottom: 34px
}
    .frase-banner{
        font-size: 2.8em
    }
    .pie_pagina{
        margin-top: 22px;
    }
}


/*////////////////////////////////////////////EFECTO /*/

.scrollGaleria{
    opacity: 0;
    transition: all 0.7s ease-in;
    

}