/*BUENO LO QUE HAGO ES COPIAR EL INDEX Y MODIFICARLO, LUEGO ABRO UN NUEVO CSS Y AHI HAGO LAS MODIFICACIONES EN BASE AL NUEVO INDEX QUE ACA SERIA LA PAGINA DE NOSOTROS*/
.logocontainer{
    color: white;
}
.menu-link:hover{
    background: darkcyan;
}
.menu-link-inicio{
    background: darkcyan;
}
.origenes .container{
    background: darkcyan;
    color: white;
    padding: 10px;
    text-align: center;
    margin-top: 10px;
    z-index: 1700;
}
.origenes .presentacion-titulo{
    font-size: 2.3em;/*para modificar el contenedor donde estaba la presentacion lo que hago es cambiarle nomas el nombre de la section quue era group color ahora es origenes y le agrego las clases al lado*/
}
.chek{
    align-items: flex-start;/*para que me queden las imagenes circulo a la misma altura*/
    text-align: center;/*asi alineo todo el contenido que esta adentro del chek, sino lo tendria que hacer en cada item por separado, titulo imagen, texto, y el titulo tiene que estar con div por que no me asepta el tex aling cuando esta en h*/
    margin-bottom: 17px;

}
.tituloo-chek{/*lo pongo en un div y no en h por que el h no me deja usar ni margin botom top ni tampoco paddin top ni botom*/
    font-size: 3em;
    font-family: 'Lemon', cursive;
    margin-bottom: 30px;
    margin-top: gg /* este no me va a hacer nada por que la parte de arriba la manejo con el .chek que es la clase de la seccion que agrupa a todo por lo tanto es la que maneja y tiene el borde superior*/ 
}
.titulo-chek{
    font-size: 2em;
    font-weight: bold;
    color:darkcyan;
    text-shadow: 1px 0 0 black;
    margin-bottom: 23px;/*lo pongo en un div y no en h por que el h no me deja usar ni margin botom top ni tampoco paddin top ni botom*/
    margin-top: 20px;
}
.imagen-chek{
    margin:auto;/*les puedo poner margen y toda la bola por que en estilos cs le puse a las imagenes propiedad display in block*/
    height: 300px;
    width: 95%;
    object-fit: cover;
    border-radius: 50%;/*para que me quede bien redondito le tengo que modificar el height tiene que quedar igual que el widht*/
}
@media screen and (min-width:480px){     
    .imagen-chek{
        height: 155px;
        width: 155px;
        border-radius: 50%;/*si no le ponia el border radius devuelta me quedaban re deformes*/
    }
    .datos_telefono-ubicacion_telefono{
        background: none;
         }
}
@media screen and (min-width:768px){    
    .origenes{
        margin: auto;
        width: 85%;
    }
    .container{
        width: 100%;
    }
    .imagen-chek{
        height: 200px;
        width: 200px;
    }
    .tituloo-chek{
        margin-top: 65px;
        font-size: 3em;
    }
    .titulo-chek{
        font-size: 2.4em;
    }
    .origenes .presentacion-titulo{
        font-size: 3em;
    }
    .frase-banner{
        font-size: 3em;
    }
    .texto-chek{
        font-size: 1.2em;
    }
    
}


@media screen and (min-width:1024px){
    .imagen-chek{
        height: 230px;
        width: 230px;
    }
}

/*ANIMACIONES*****************************************/

.AnimacionOrigenes{
    animation: AnimacionOrigenes 1.5s;
}

@keyframes AnimacionOrigenes {
    0%{
         transform: translateY(400px);
        
    }
    
    100%{
        transform: translateY(0);
    }
}

.scrollNosotros2{
    opacity: 0;
    transition: opacity 2s;
}

.scrollNosotros3{
    opacity: 0;
    transition: opacity 2s;
}

.AnimacionFede{
    animation: AnimacionFede 4s;
}

@keyframes AnimacionFede {
    0%{
         transform: translateY(400px);
        
    }
    
    100%{
        transform: translateY(0);
    }
}

.AnimacionMarcelo{
    animation: AnimacionMarcelo 3.5s;
}

@keyframes AnimacionMarcelo {
    0%{
         transform: translateX(400px);
        
    }
    
    100%{
        transform: translateX(0);
    }
}

.AnimacionDamian{
    animation: AnimacionDamian 3.5s;
}

@keyframes AnimacionDamian {
    0%{
         transform: translateX(-400px);
        
    }
    
    100%{
        transform: translateX(0);
    }
}
